# Tipos de datos
### Numericos
* int 5
* float 5.5
* complex -i
### Booleanos
* True/False
### Strings 
* "Hola"
* 'mundo'

### identificar el tipo de dato
* La cantidad de hijos de una pareja.
* La matrícula de un estudiante.
* número de telefono de una persona.
* El kilometraje de un auto.

# Variables
* Sólo puede contener números, letras o el caracter _
* No puede iniciar con un número.
*  No debe coincidir con una palabra reservada del lenguaje.

In [ ]:
# Asignación múltiple:
day, month, year = ('miércoles', 'mayo', 2016)
# asignación de intercambio:
base = 15; altura = 30
base, altura = altura, base

In [ ]:
altura

# Operaciones Artimeticas
## Modulo
#### Devolver el residuo de una operación

![](division_01.JPG)

![](division_02.JPG)

In [ ]:
# para saber si un numero es divible para otro
num1 = 12
num2 = 6
# si el modulo de num1%num2 es cero num1 es divisible para num2
divisible = num1%num2
print(divisible)

In [ ]:

num = 116546
num%100

In [ ]:
# Para saber si un numero es par o impar
# si el num%2 es 0 entonces es par
# si el num%2 es 1 entonces es impar
num = 44
print(num%2)
# imprima verdadero si un numero es par si no les imprima falso
condicion = num%2 == 0
print(condicion)

### Crear una funcion en python que pida al usuario una cantidad de segundos y muestre por pantalla la cantidad de horas minutos y segundos, la cantidad de segundos por defecto es 45000

In [ ]:
def cant_horas(segundos=45000):#45365
    horas = segundos//3600 #12
    sobrante_horas = segundos%3600 # 21565
    minutos = sobrante_horas//60 # 36
    segundos = minutos%60 # 5
    return horas,minutos,segundos

### Crear una Programa que pida una cantidad de segundos y muestre la cantidad de horas y minutos

In [ ]:
segundos_user=input("Ingrese una cantidad de segundos: ")

In [ ]:
horas,minutos,segundos = cant_horas()
print("{}:{}:{}".format(horas,minutos,segundos))

#### Tema 2 (20 puntos). 
Un cajero automático requiere de una función billetes(cantidad) que reciba una cantidad de dólares (número entero) y encuentre su equivalente, usando la menor cantidad de billetes de 50, 20, 10, 5, 1, entregando el resultado en una lista.

In [ ]:
def billetes(cantidad,l_tipos_billetes):# 3 [50,20,10,5,1]
    vueltos = [] # [5,1,0,1,3]
    for t_billete in l_tipos_billetes: #1
        can_t = cantidad//t_billete #1
        vueltos.append(can_t)
        cantidad = cantidad%t_billete # 0
    return vueltos

In [ ]:
l_tipos_billetes = [50,20,10,5,1]

In [ ]:
billetes(278,l_tipos_billetes)

In [2]:
def menu():
    print("""
1. Ingreso de Vehículos
2. Ingreso de Ventas por semestre
3. Presentar ventas por rango
4. Presentar vehículo con mayor venta por semestre
5. Salir 
 """)
def submenu():
    print("""
1.- semestre enero-junio
2.- semestre junio- diciembre""")

In [ ]:
# main program
menu()
desde = 250
hasta = 450
op = input("ingrese una opcion: ")
anuales = []
primer = []
while(not(op=='5')):
    if op == '1':
        vehiculos= input("ingrese los datos por csv")
        #Toyota Camry, Hyundai i10, Chevrolet Grand Vitara SZ
        l_vehiculos = vehiculos.split(",")# [Toyota Camry, Hyundai i10, Chevrolet Grand Vitara SZ]
        op = input("ingrese una opcion: ")
    if op =='2':
        submenu()
        semestre = int(input("Ingrese semestre"))
        if semestre ==1:
            ventas = input("primer semestre: ")
            primer= ventas.split(",")
            semestre = int(input("Ingrese semestre"))
        if semestre ==2:
            ventas = input("segundo semestre: ")
            segundo = ventas.split(",")
        while (not(len(l_vehiculos)==len(primer))or not(len(l_vehiculos)==len(segundo)) ):
            semestre = int(input("Ingrese semestre"))
            if semestre ==1:
                ventas = input("primer semestre: ")
                primer = ventas.split(",")
            if semestre == 2 :
                ventas = input("segundo semestre: ")
                segundo = ventas.split(",")# 12,2,2,32
    if op=='3':
        for vehiculo in vehiculos:# toyota
            ind = vehiculos.index(vehiculo) #0
            venta = ventas[ind] #150
            ini = input("ingrese inicio")
            fin = input("ingrese fin")
            if venta >= 250 and ventas<= 400:
                anuales.append(vehiculo)
    if op=='4':
        l_tuplas = []#[(450,hynday),(),()]
        for i in range(len(vehiculos)):
            vehiculo = vehiculos[i]
            venta = ventas[i]
            l_tuplas.append(venta,vehiculo)
        l_tuplas.sort(reverse=True)
        mayor = l_tuplas[0]#(450,hyundai)
        vehiculo_mayor = mayor[1]
        print(vehiculo_mayor)
    op = input("ingrese una opcion: ")

1. Ingreso de Vehículos
2. Ingreso de Ventas por semestre
3. Presentar ventas por rango
4. Presentar vehículo con mayor venta por semestre
5. Salir

ingrese una opcion: 1
ingrese los datos por csvtoyota
ingrese una opcion: 2

1.- semestre enero-junio
2.- semestre junio- diciembre
Ingrese semestre1
primer semestre: 25,25
Ingrese semestre2
segundo semestre: 30,25