# Listas

In [ ]:
#range(desde, hasta_sin_incluirlo, saltos)
print(list(range(5)))
nombres = ["Pepe","Jose","Marco","Juan","Maria","Andres"]
edades = [17,18,20,15,19,20]
print(list(range(len(nombres))))
for i in range(len(nombres)):
    nombre = nombres[i]
    edad = edades[i]
    if edad >= 18:
        print(nombre)

In [ ]:
nombres = ["Pepe","Jose","Marco","Juan","Maria","Andres"]
edades = [17,18,20,15,19,20]
for i in range(len(nombres)): # [0,1,2,3,4,5]
    nombre = nombres[i] # Pepe
    edad = edades[i] # 17

In [1]:
# mostrar los nombres de los que son mayores de 18
nombres = ["Pepe","Jose","Marco","Juan","Maria","Andres"]
edades = [17,18,20,15,19,20]
adultos = []
for i in range(len(nombres)): # [0,1,2,3,4,5]
    nombre = nombres[i] # Pepe
    edad = edades[i] # 17
    if edad <= 18:
        adultos.append(nombre)
print(adultos)

['Pepe', 'Jose', 'Juan']

In [2]:
# ordenar por edad
nombres = ["Pepe","Jose","Marco","Juan","Maria","Andres"]
edades = [17,18,20,15,19,20]
l_tuplas=[] # [(17, 'Pepe'),(18, 'Jose'), (20, 'Marco'), (15, 'Juan'), (19, 'Maria'), (20, 'Andres')]
for i in range(len(nombres)): # [0,1,2,3,4,5]
    nombre = nombres[i] # Pepe
    edad = edades[i] # 17
    tupla = (edad,nombre)
    l_tuplas.append(tupla)
l_tuplas

[(17, 'Pepe'),
 (18, 'Jose'),
 (20, 'Marco'),
 (15, 'Juan'),
 (19, 'Maria'),
 (20, 'Andres')]

In [5]:
l_tuplas.sort()
l_tuplas

[(15, 'Juan'),
 (17, 'Pepe'),
 (18, 'Jose'),
 (19, 'Maria'),
 (20, 'Andres'),
 (20, 'Marco')]

In [11]:
# sacar un top 3 de mayor a menor
nombres = ["Pepe","Jose","Marco","Juan","Maria","Andres"]
edades = [17,18,20,15,19,20]
l_tuplas=[] # [(17, 'Pepe'),(18, 'Jose'), (20, 'Marco'), (15, 'Juan'), (19, 'Maria'), (20, 'Andres')]
for i in range(len(nombres)): # [0,1,2,3,4,5]
    nombre = nombres[i] # Pepe
    edad = edades[i] # 17
    tupla = (edad,nombre)
    l_tuplas.append(tupla)
l_tuplas.sort(reverse=True)
l_tuplas[:3]

[(20, 'Marco'), (20, 'Andres'), (19, 'Maria')]

In [ ]:
lista1 = [1,2,3]
lista2 = [4,5,6]
lista1 += lista2

In [ ]:
nombres = ["Pepe","Jose","Marco","Juan","Maria","Andres","Pepe","Jose","Maria"]
num = nombres.count("Pepe")
ind = nombres.index("Maria")
ind
ind2 = nombres.index("Maria",ind+1)
ind2
#ind3 = nombres.index("Lucho")
nombres.pop()

print(nombres)

In [ ]:
numeros = list(range(1,10))
numeros[:]
print(numeros)
ind_Mitad = len(numeros)//2
numeros.insert(ind_Mitad,0)
print(numeros)

In [ ]:
a = [1,2,3]
b = a[:]
a[1] = "cambio"
print(a)
print(b)

In [ ]:
letras[2:5] = ["C","D","E"]
letras

In [ ]:
letras[2:5] = []
letras

In [ ]:
letras[:] = []
letras

In [ ]:
nombres = ["Pepe","Jose","Marco"]
edades = [17,18,20]

In [ ]:
X = [nombres, edades]
X

## Metodos de lista

In [ ]:
#list.extend (iterable)
letras.extend({"h","i","h","i","k"})
print(letras)

In [ ]:
#list.pop ([, i]0)
letras.pop()
letras

In [ ]:
letras.pop(3)
letras

In [ ]:
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
letra = letras.copy().pop()
print(letra)
print(letras)

In [ ]:
#list.index (x, start, end)
notas = [10,9,8,9,7,10,9,10,9]
ind = letras.index("d") # 3
ind_nota = notas.index(10,-3) #ultimos 3   7
print(ind_nota)

In [ ]:
#list.count (x)
cont = notas.count(10)
cont

In [ ]:
#list.sort (key=None, reverse=False)
notas.sort(reverse=True)
notas
print(notas[:3])

In [ ]:
#list.clear ()
letras.clear()
letras

# Listas Paralelas

In [ ]:
# iterar lista paralelas

# por indice
for i in range(len(nombres)):#0
    nombre = nombres[i]
    edad = edades[i]
# por index
for nombre in nombres: # Pepe
    ind= nombres.index(nombre) # 0
    edad = nombres[ind]

In [ ]:
nombres = ["Pepe","Jose","Marco","Juan","Maria","Andres"]
edades =  [17    ,18     ,20    ,15    ,19     ,20]
notas = [8,7,9,4,5,3]

In [ ]:
# ordenar listas paralelas 
lista = [] # [[],[],[]]
for i in range(len(nombres)):#0
    nombre = nombres[i]
    edad = edades[i]
    nota = notas[i]
    lista.append([edad,nombre,nota])
print(lista)
# ordenar de menor a mayor
#lista.sort()
#print(lista)
# ordenar de mayor a menor
lista.sort(reverse = True)
print(lista)

In [6]:
#list = zip(lista1,lista2)
nombres = ["Pepe","Jose","Marco","Juan","Maria","Andres"]
edades = [17,18,20,15,19,20]
notas = [8,7,9,4,5,3]

In [7]:
lista2 = list(zip(edades,nombres))
lista2

[(17, 'Pepe'),
 (18, 'Jose'),
 (20, 'Marco'),
 (15, 'Juan'),
 (19, 'Maria'),
 (20, 'Andres')]

In [ ]:
lista2 = list(zip(edades, nombres))
print(lista2)
lista2.sort(reverse=True)
print(lista2)

for edad,nombre in lista2[:3]:
    print(nombre,edad)

In [ ]:
# mostrar un top 3 por notas
lista = []
for i in range(len(nombres)):#0
    nombre = nombres[i]
    edad = edades[i]
    nota = notas[i]
    lista.append((nota,nombre,edad))
print(lista)
# ordenar de menor a mayor
#lista.sort()
#print(lista)
# ordenar de mayor a menor
lista.sort(reverse = True)
print(lista[:3])

In [ ]:
# mostrar la persona mayor de la lista
tupla = lista[0]
print(tupla)
nom_Mayor = tupla[1]
print(nom_Mayor)

# mostrar una lista de los nombres que son mayores de edad
adultos = []
for i in range(len(nombres)):
    nombre = nombres[i]
    edad = edades[i]
    if edad >=18:
        adultos.append(nombre)
print(adultos)

In [ ]:
lista = ["a","b","c",1,2,3,"e"]
lista.sort() #a<3

In [ ]:
string = "Ecuador,Jose Cifuentes,1,0,0,75,6.3"
datos = string.split(",")
datos

In [ ]:
# "caracter".join(lista)
cadena = "----".join(datos)
cadena

In [8]:
# enumerate
print(list(enumerate(nombres)))

[(0, 'Pepe'), (1, 'Jose'), (2, 'Marco'), (3, 'Juan'), (4, 'Maria'), (5, 'Andres')]